In [1]:
test_semantic_model_url = 'https://raw.githubusercontent.com/djouallah/semantic_sql_testing/refs/heads/main/semantic_model.txt' 
questions_url           = 'https://raw.githubusercontent.com/djouallah/semantic_sql_testing/refs/heads/main/questions.json'
SF = 1
output_dir="/tmp/llm"

In [2]:
import requests
import json
import duckdb
import pathlib
import time
import pandas as pd
import re
from   openai import AzureOpenAI, OpenAIError
import datetime
import os
import traceback
import google.generativeai as genai

# Generate Data

In [ ]:
if SF <1 :
 schema = f"{str(SF).replace('.', '_')}"
else :
 schema = f'DS{SF:02d}'
os.makedirs(output_dir, exist_ok=True)
db_path = output_dir +"/"+ schema +".duckdb"
if not pathlib.Path(db_path).exists():
    con = duckdb.connect(db_path)
    con.sql("SET memory_limit = '14GB' ")
    con.sql(f"CALL dsdgen(sf={SF})")
    con.close()
con = duckdb.connect()
con.sql(f""" attach '{db_path}' as ds(read_only) ; use ds """)
timestamp = datetime.datetime.now().strftime("%Y%m%d_%H%M%S")

# Run Tests

In [ ]:
def get_ai_response(user_message, LLM, provider, api_key=None, azure_endpoint=None, azure_api_version=None):
    system_prompt = ""
    try:
        github_response = requests.get(test_semantic_model_url)
        github_response.raise_for_status()
        system_prompt = github_response.text.strip()
    except requests.RequestException as e:
        print(f"Error fetching system prompt from GitHub ({test_semantic_model_url}): {e}")
        return f"Error fetching system prompt: {e}"

    generated_text = None
    data = None

    if provider == "ollama":
        url = 'http://127.0.0.1:11434/api/chat'
        headers = {'Content-Type': 'application/json'}
        payload = {
            'model': LLM,
            'messages': [
                {'role': 'system', 'content': system_prompt},
                {'role': 'user', 'content': user_message}
            ],
            'stream': False
        }
        try:
            response = requests.post(url, headers=headers, json=payload)
            response.raise_for_status()
            data = response.json()
            generated_text = data.get('message', {}).get('content', '')
            if generated_text:
                generated_text = generated_text.replace("<think>", "").replace("</think>", "")
        except requests.RequestException as e:
            return f"Error with Ollama API request: {e}"
        except (KeyError, IndexError, AttributeError) as e:
            return f"Unexpected response format from Ollama: {e}\nFull response data: {data}"

    elif provider == "azure_foundry":
        if not azure_endpoint or not azure_api_version or not api_key:
            return "Azure provider requires 'azure_endpoint', 'azure_api_version', and 'api_key' parameters."

        try:
            client = AzureOpenAI(
                api_version=azure_api_version,
                azure_endpoint=azure_endpoint,
                api_key=api_key,
            )

            response = client.chat.completions.create(
                messages=[
                    {"role": "system", "content": system_prompt},
                    {"role": "user", "content": user_message}
                ],
                model=LLM,
            )

            generated_text = response.choices[0].message.content

        except Exception as e:
            return f"An error occurred with Azure OpenAI: {e}"


    elif provider == "gemini":
        try:
            model = genai.GenerativeModel(LLM)

            final_prompt = f"{system_prompt}\n\nUser's request: {user_message}"

            response = model.generate_content(final_prompt)

            generated_text = ""
            if response.parts:
                generated_text = "".join(part.text for part in response.parts).strip()
            elif hasattr(response, 'text') and response.text:
                generated_text = response.text.strip()
            else:
                if response.prompt_feedback:
                    block_reason = getattr(response.prompt_feedback, 'block_reason', 'Unknown reason')
                    safety_ratings = getattr(response.prompt_feedback, 'safety_ratings', 'N/A')
                    print(f"Gemini Prompt feedback: Blocked - {block_reason}, Safety Ratings: {safety_ratings}")
                    return f"Error: Gemini model did not generate text. Blocked due to: {block_reason}. Safety Ratings: {safety_ratings}"
                print("Gemini API returned no generated text and no prompt feedback.")
                return "Error: Gemini API returned no generated text and no prompt feedback."

        except Exception as e:
            print(f"An error occurred during Gemini API call or processing: {e}\n{traceback.format_exc()}")
            if "configure" in str(e).lower() or "api key" in str(e).lower():
                 return f"Gemini API configuration error: {e}. Ensure genai.configure() is called with a valid API key."
            return f"Error with Gemini API request or processing: {e}"


    else:
        return f"Unsupported provider for this test setup: {provider}. Supported providers are 'ollama', 'azure_foundry', and 'gemini'."

    if not isinstance(generated_text, str):
         print(f"Generated text is not a string (type: {type(generated_text)}). Cannot clean.")
         if generated_text is None:
              return "Could not retrieve generated text from provider response."
         else:
              return f"Received unexpected output type from {provider}: {type(generated_text)}. Value: {generated_text}"


    cleaned_text = re.sub(r'```(sql|duckdb)?\s*([\s\S]*?)\s*```', r'\2', generated_text, flags=re.IGNORECASE).strip()

    if "```" in cleaned_text or "SELECT " in cleaned_text.upper() or "WITH " in cleaned_text.upper():
         cleaned_text = cleaned_text.replace("```sql", "").replace("```duckdb", "").replace("```", "").strip()


    return cleaned_text

In [ ]:
def execute_sql_with_retry(query, test_model,provider, api_key, azure_endpoint, azure_api_version,max_attempts):
    attempt = 1
    current_query = query.strip()

    while attempt <= max_attempts:
        try:
            # Execute the SQL query
            result = con.sql(current_query).df()
            # Return the DataFrame result and the number of attempts
            return result, attempt
        except Exception as e:
            # Catch any exception during execution
            error_message = str(e).lower()

            # Check if the error is likely a syntax, parser, or binder error
            if "syntax" not in error_message and "parser" not in error_message and "binder" not in error_message:
                # If it's a non-syntax error, return the error message and attempts
                return f"Non-syntax error: {e}", attempt

            # If it's a syntax-like error, print attempt info
            print(current_query)
            print(f"Attempt {attempt}/{max_attempts} failed with syntax error: {e}")

            # If max attempts reached, return the final error message and attempts
            if attempt == max_attempts:
                return f"Max attempts reached. Last error: {e}", attempt

            # Prepare message for Gemini to fix the query
            message = (
                f"The following SQL query has a syntax error: '{current_query}'.\n"
                f"Error message: {e}\n"
                f"Please provide the corrected SQL query. Return only the corrected query without explanation."
            )

            # Get corrected query from Gemini
            corrected_query = get_ai_response(message, test_model,provider, api_key, azure_endpoint, azure_api_version)

            # If Gemini returns an error, return that error message and attempts
            if corrected_query.startswith("Error"):
                return f"Failed to get corrected query : {corrected_query}", attempt

            #print(f"Received corrected query")
            # Update current_query with the corrected one and increment attempt
            current_query = corrected_query.strip()
            attempt += 1
    return "Unexpected error or loop termination", attempt

In [ ]:
def ask_question(questions, test_model,provider,api_key=None, azure_endpoint=None, azure_api_version=None):
    results_data = [] 
    for i, x in enumerate(questions):
        print(f"Question {i+1}: {x}") # Keep or remove print as needed
        start_time = time.time()
        sql_query_or_error = get_ai_response(x, test_model, provider, api_key, azure_endpoint, azure_api_version)
        print(sql_query_or_error) # Keep or remove print as needed
        query_result_data_json = [] # Initialize as an empty list for JSON result
        attempts_count = None
        error_details = None # Initialize error_details
        if sql_query_or_error is None or sql_query_or_error.startswith("Error"):
            # If get_ai_response returned an error or None, store the error string
            error_message = sql_query_or_error if sql_query_or_error is not None else "AI response was None"
            # print(f"Failed to get query from AI: {error_message}") # Keep or remove print
            # print("Execution: SKIPPED (AI error)") # Keep or remove print
            error_details = f"AI Error: {error_message}" # Store error details
            # query_result_data_json remains empty []
            result_row_count = 0 # Result count is 0 on error
        else:
            # Attempt to execute the SQL query
            # Ensure execute_sql_with_retry returns a DataFrame on success or a string error
            # Pass the test_model to execute_sql_with_retry as it might need it
            result_from_execution, attempts_count = execute_sql_with_retry(sql_query_or_error, test_model,provider,api_key, azure_endpoint, azure_api_version, max_attempts=3)

            display(result_from_execution)
            is_successful = isinstance(result_from_execution, pd.DataFrame)

            if is_successful:
                print("Execution: SUCCESS") # Keep or remove print
                query_result_data_json = result_from_execution.to_dict('records')
                error_details = None # No error details on success
                result_row_count = len(result_from_execution) # Calculate row count
            else:
                print("Execution: FAILED") # Keep or remove print
                #query_result_data_json remains empty []
                error_details = f"Execution Error: {result_from_execution}" # Store error details
                result_row_count = 0 # Result count is 0 on failure


        end_time = time.time()
        duration = round(end_time - start_time, 2)
        print(f"\nExecution Time: {duration:.2f} seconds") # Keep or remove print
        print(f" ############################### ") # Keep or remove print
        results_data.append({
            "model" : test_model,
            "timestamp": timestamp,
            "nbr": i + 1,
            "question": x,
            "duration_s": duration, # Changed key name slightly for JSON convention
            "sql_query": sql_query_or_error, # Store the generated query string (could be AI error)
            "attempts": attempts_count,
            "result": query_result_data_json, # This is now a list of dictionaries
            "result_count": result_row_count, # Use the calculated row count
            "error_details": error_details # Store error details
        })

    os.makedirs(output_dir, exist_ok=True)
    sanitized_model = re.sub(r'[\\/*?:"<>|]', '_', test_model)
    output_filename = f"{timestamp}_{sanitized_model}.json"
    output_path = os.path.join(output_dir, output_filename)
    try:
        with open(output_path, 'w', encoding='utf-8') as f:
            json.dump(results_data, f, indent=4)
        return f"Successfully processed {len(questions)} questions. Results saved to {output_path}"
    except IOError as e:
        return f"Error saving results to {output_path}: {e}"
    except Exception as e:
        return f"An unexpected error occurred during file saving: {e}"

In [ ]:
try:
    response = requests.get(questions_url)
    response.raise_for_status()  # Raise an exception for HTTP errors (4xx or 5xx)
    questions = json.loads(response.text)

    print("Successfully retrieved questions:")
except requests.exceptions.RequestException as e:
    print(f"Error retrieving file from GitHub: {e}")
except json.JSONDecodeError as e:
    print(f"Error decoding JSON: {e}")

In [ ]:
%%time
ask_question(questions,"gpt-4o","azure_foundry",os.getenv("LLM_API_KEY"), os.getenv("llm_endpoint"),"2025-01-01-preview" )

In [ ]:
%%time
genai.configure(api_key= os.getenv("G_API_KEY"))
ask_question(questions,"gemini-2.5-flash-preview-04-17","gemini")

In [ ]:
%%time
ask_question(questions,'qwen3:4b',"ollama")

# Check Results

In [3]:
duckdb.sql(f""" from '{output_dir}/*.json' order by nbr,model """).to_view("results")
try:
 duckdb.sql(f""" load excel ;copy results to '{output_dir}/test.xlsx' (format 'xlsx', header 'true', overwrite)  """)
except Exception as e:
    print(f"Error exporting to Excel: {e}")
    print("close the excel file or tey again.")

Error exporting to Excel: IO Error: Could not move file: The process cannot access the file because it is being used by another process.

close the excel file or tey again.

In [4]:
# Queries with errors
duckdb.sql(""" from results where error_details is not null""")

┌──────────┬─────────────────┬───────┬───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬────────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┬──────────┬──────────────────────┬──────────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│  model   │    timestamp    │  nbr  │                                                                                                                                 question                                                                                                                                  │ duration_s │                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      sql_query                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       │ attempts │        result        │ result_count │                                                                        error_details                                                                         │
│ varchar  │     varchar     │ int64 │                                                                                                                                  varchar                                                                                                                                  │   double   │                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       varchar                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        │  int64   │ map(varchar, json)[] │    int64     │                                                                           varchar                                                                            │
├──────────┼─────────────────┼───────┼───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┼──────────┼──────────────────────┼──────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│ qwen3:4b │ 20250509_140034 │    16 │ For each store, what was the percentage change in net sales between two consecutive recent years (e.g., 2001 and 2002), ordered alphabetically by store name.                                                                                                             │      69.92 │ SELECT\n  st.s_store_name,\n  (ss2.total_sales - ss1.total_sales) * 100.0 / ss1.total_sales AS percentage_change\nFROM\n  (SELECT\n    st.s_store_name,\n    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales\n  FROM\n    store_sales ss\n  INNER JOIN\n    store st ON ss.ss_store_sk = st.s_store_sk\n  GROUP BY\n    st.s_store_name) ss\nINNER JOIN\n  (SELECT\n    st.s_store_name,\n    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales\n  FROM\n    store_sales ss\n  INNER JOIN\n    store st ON ss.ss_store_sk = st.s_store_sk\n  WHERE\n    ss_sold_date_sk = (SELECT MAX(d_date_sk) FROM date_dim WHERE d_year = (SELECT d_year - 1 FROM date_dim WHERE d_date_sk = (SELECT MAX(d_date_sk) FROM date_dim))))\n  GROUP BY\n    st.s_store_name) ss1\nON ss.s_store_name = ss1.s_store_name\nINNER JOIN\n  (SELECT\n    st.s_store_name,\n    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales\n  FROM\n    store_sales ss\n  INNER JOIN\n    store st ON ss.ss_store_sk = st.s_store_sk\n  WHERE\n    ss_sold_date_sk = (SELECT MAX(d_date_sk) FROM date_dim WHERE d_year = (SELECT d_year FROM date_dim WHERE d_date_sk = (SELECT MAX(d_date_sk) FROM date_dim))))\n  GROUP BY\n    st.s_store_name) ss2\nON ss.s_store_name = ss2.s_store_name\nORDER BY\n  st.s_store_name;                                                                                                                                         │        3 │ []                   │            0 │ Execution Error: Max attempts reached. Last error: Binder Error: Referenced table "st" not found!\nCandidate tables: "ss", "ss1", "ss2"                      │
│ qwen3:4b │ 20250509_140034 │    18 │ Which item brand has shown the largest decrease in its return rate when comparing the average rate of 2001 to 2002, specifically for stores located in the 'TN' state? (Order by the decrease in return rate descending, and then by brand name alphabetically for ties). │      80.15 │ SELECT\n  i.i_brand,\n  ( (sr2002.total_returns / NULLIF(sr2002.total_sales, 0)) * 100 ) - ( (sr2001.total_returns / NULLIF(sr2001.total_sales, 0)) * 100 ) AS return_rate_decrease\nFROM\n  (SELECT\n    SUM(sr.sr_return_amt) AS total_returns,\n    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales\n   FROM store_returns sr\n   INNER JOIN store ss ON sr.sr_store_sk = ss.s_store_sk\n   INNER JOIN date_dim d ON sr.sr_returned_date_sk = d.d_date_sk\n   WHERE d.d_year = 2001\n   AND ss.s_state = 'TN') sr2001,\n  (SELECT\n    SUM(sr.sr_return_amt) AS total_returns,\n    SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales\n   FROM store_returns sr\n   INNER JOIN store ss ON sr.sr_store_sk = ss.s_store_sk\n   INNER JOIN date_dim d ON sr.sr_returned_date_sk = d.d_date_sk\n   WHERE d.d_year = 2002\n   AND ss.s_state = 'TN') sr2002,\n  item i\nWHERE\n  i.i_item_sk = (SELECT ss.i_item_sk FROM store_sales ss WHERE ss.ss_store_sk = sr2001.s_store_sk AND ss.ss_item_sk = i.i_item_sk)\n  OR\n  i.i_item_sk = (SELECT ss.i_item_sk FROM store_sales ss WHERE ss.ss_store_sk = sr2002.s_store_sk AND ss.ss_item_sk = i.i_item_sk)\nORDER BY\n  return_rate_decrease DESC,\n  i.i_brand;                                                                                                                                                                                                                         │        3 │ []                   │            0 │ Execution Error: Max attempts reached. Last error: Binder Error: Table "ss" does not have a column named "ss_sales_price"\n\nCandidate bindings: : "s_state" │
│ gpt-4o   │ 20250509_140034 │    20 │ show all stores net sales , average net sales and percentage of net sales compared to average net sales for each store, ordered by percentage of net sales descending.                                                                                                    │       16.3 │ -- show all stores net sales, average net sales, and percentage of net sales compared to average net sales for each store, ordered by percentage of net sales descending\nWITH store_sales_agg AS (\n    SELECT\n        st.s_store_name,\n        SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales\n    FROM store_sales AS ss\n    INNER JOIN store AS st ON ss.ss_store_sk = st.s_store_sk\n    GROUP BY st.s_store_name\n), store_returns_agg AS (\n    SELECT\n        st.s_store_name,\n        SUM(sr.sr_return_amt) AS total_returns\n    FROM store_returns AS sr\n    INNER JOIN store AS st ON sr.s_store_sk = st.s_store_sk\n    GROUP BY st.s_store_name\n), net_sales_calc AS (\n    SELECT\n        COALESCE(ss.s_store_name, sr.s_store_name) AS store_name,\n        COALESCE(ss.total_sales, 0) - COALESCE(sr.total_returns, 0) AS net_sales\n    FROM store_sales_agg AS ss\n    FULL OUTER JOIN store_returns_agg AS sr ON ss.s_store_name = sr.s_store_name\n), average_net_sales_calc AS (\n    SELECT\n        AVG(net_sales) AS average_net_sales\n    FROM net_sales_calc\n)\nSELECT\n    ns.store_name,\n    ns.net_sales,\n    ROUND(ans.average_net_sales, 2) AS average_net_sales,\n    ROUND((ns.net_sales / NULLIF(ans.average_net_sales, 0)) * 100, 2) AS percentage_of_average_net_sales\nFROM net_sales_calc AS ns\nCROSS JOIN average_net_sales_calc AS ans\nORDER BY percentage_of_average_net_sales DESC; │        3 │ []                   │            0 │ Execution Error: Max attempts reached. Last error: Binder Error: Referenced table "sr" not found!\nCandidate tables: "store_sales_agg"                       │
│ qwen3:4b │ 20250509_140034 │    20 │ show all stores net sales , average net sales and percentage of net sales compared to average net sales for each store, ordered by percentage of net sales descending.                                                                                                    │      57.18 │ SELECT\n    st.s_store_name AS store_name,\n    COALESCE(ss.total_sales, 0) - COALESCE(sr.total_returns, 0) AS net_sales,\n    AVG(COALESCE(ss.total_sales, 0) - COALESCE(sr.total_returns, 0)) OVER() AS average_net_sales,\n    (COALESCE(ss.total_sales, 0) - COALESCE(sr.total_returns, 0)) / NULLIF(AVG(COALESCE(ss.total_sales, 0) - COALESCE(sr.total_returns, 0)) OVER(), 0) * 100 AS percentage_of_net_sales\nFROM\n    (SELECT\n        st.s_store_name,\n        SUM(ss.ss_sales_price * ss.ss_quantity) AS total_sales\n     FROM store_sales AS ss\n     INNER JOIN store AS st ON ss.ss_store_sk = st.s_store_sk\n     GROUP BY st.s_store_name) AS ss\nFULL OUTER JOIN\n    (SELECT\n        st.s_store_name,\n        SUM(sr.sr_return_amt) AS total_returns\n     FROM store_returns AS sr\n     INNER JOIN store AS st ON sr.sr_store_sk = st.s_store_sk\n     GROUP BY st.s_store_name) AS sr\nON ss.s_store_name = sr.s_store_name\nORDER BY\n    percentage_of_net_sales DESC;                                                                                                                                                                                                                                                                                                                                                                                                                                                  │        3 │ []                   │            0 │ Execution Error: Max attempts reached. Last error: Binder Error: Referenced table "st" not found!\nCandidate tables: "ss", "sr"                              │
└──────────┴─────────────────┴───────┴───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴────────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┴──────────┴──────────────────────┴──────────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [5]:
# queries where the number of columns resturened by each model is not the same or the number of rows is not the same
duckdb.sql(f""" select nbr from results group by all having count(distinct(cardinality(result[1]))) > 1 or count(distinct(result_count )) > 1 order by nbr """).show(max_width=250)

┌───────┐
│  nbr  │
│ int64 │
├───────┤
│     5 │
│     7 │
│     9 │
│    12 │
│    13 │
│    14 │
│    15 │
│    16 │
│    17 │
│    18 │
│    19 │
│    20 │
└───────┘

In [6]:
# check number of rows returned by each model
duckdb.sql(f""" pivot( select nbr,question,model,result_count from results) on model using min(result_count ) order by nbr""").show(max_width=120)

┌───────┬─────────────────────────────────────────────────────────┬────────────────────────────────┬────────┬──────────┐
│  nbr  │                        question                         │ gemini-2.5-flash-preview-04-17 │ gpt-4o │ qwen3:4b │
│ int64 │                         varchar                         │             int64              │ int64  │  int64   │
├───────┼─────────────────────────────────────────────────────────┼────────────────────────────────┼────────┼──────────┤
│     1 │ What is the overall total sales revenue?                │                              1 │      1 │        1 │
│     2 │ What is the total number of items sold across all tra…  │                              1 │      1 │        1 │
│     3 │ What is the total monetary value of all returned items? │                              1 │      1 │        1 │
│     4 │ List the names of all stores, order by store name.      │                             12 │     12 │       12 │
│     5 │ What are the different item categories available? Ord…  │                             11 │     11 │    18000 │
│     6 │ Show total sales revenue for each year, ordered chron…  │                              6 │      6 │        6 │
│     7 │ Which store generated the most total sales revenue? (…  │                              1 │      1 │        6 │
│     8 │ What is the total quantity of items sold, broken down…  │                            713 │    713 │      713 │
│     9 │ Compare total sales from preferred customers versus n…  │                              3 │      3 │        2 │
│    10 │ What is the total return amount for each city where s…  │                              2 │      2 │        2 │
│    11 │ What is the net sales for each store name, order by n…  │                              6 │      6 │        6 │
│    12 │ Calculate the return rate for each item category, ord…  │                             12 │     12 │       12 │
│    13 │ What is the monthly trend of net sales during the yea…  │                             12 │     12 │      365 │
│    14 │ Which customer birth country exhibits the highest ave…  │                            211 │    213 │      212 │
│    15 │ List all item product names that have a return rate g…  │                          17912 │   8861 │        0 │
│    16 │ For each store, what was the percentage change in net…  │                              6 │     30 │        0 │
│    17 │ What is the return rate for items sold on weekends ve…  │                              6 │      6 │       12 │
│    18 │ Which item brand has shown the largest decrease in it…  │                            167 │    687 │        0 │
│    19 │ For each item class, compare the average net sales va…  │                            100 │    300 │      100 │
│    20 │ show all stores net sales , average net sales and per…  │                              6 │      0 │        0 │
├───────┴─────────────────────────────────────────────────────────┴────────────────────────────────┴────────┴──────────┤
│ 20 rows                                                                                                    5 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [7]:
# check number of columns returned by each model
duckdb.sql(f""" pivot( select nbr,model,result from results) on model using min(MAP_KEYS(result[1]) ) order by nbr""").show(max_width=250)

┌───────┬────────────────────────────────────────────────────────────────────────────────────────┬───────────────────────────────────────────────────────────────────────────┬───────────────────────────────────────────────────────────────────────────┐
│  nbr  │                             gemini-2.5-flash-preview-04-17                             │                                  gpt-4o                                   │                                 qwen3:4b                                  │
│ int64 │                                       varchar[]                                        │                                 varchar[]                                 │                                 varchar[]                                 │
├───────┼────────────────────────────────────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────┼───────────────────────────────────────────────────────────────────────────┤
│     1 │ [total_sales]                                                                          │ [total_sales_revenue]                                                     │ [total_sales]                                                             │
│     2 │ [total_quantity]                                                                       │ [total_quantity]                                                          │ [total_quantity]                                                          │
│     3 │ [total_returns]                                                                        │ [total_returns]                                                           │ [total_return_value]                                                      │
│     4 │ [s_store_name]                                                                         │ [store_name]                                                              │ [s_store_name]                                                            │
│     5 │ [i_category]                                                                           │ [i_category]                                                              │ [i_category]                                                              │
│     6 │ [d_year, total_sales]                                                                  │ [year, total_sales]                                                       │ [year, total_sales_revenue]                                               │
│     7 │ [s_store_name, total_sales]                                                            │ [store_name, total_sales_revenue]                                         │ [s_store_name, total_sales]                                               │
│     8 │ [i_brand, total_quantity]                                                              │ [item_brand, total_quantity_sold]                                         │ [i_brand, total_quantity]                                                 │
│     9 │ [preferred_customer_flag, total_sales]                                                 │ [preferred_customer, total_sales]                                         │ [customer_type, total_sales]                                              │
│    10 │ [s_city, total_returns]                                                                │ [city, total_return_amount]                                               │ [city, total_return_amount]                                               │
│    11 │ [store_name, net_sales]                                                                │ [store_name, net_sales]                                                   │ [store_name, net_sales]                                                   │
│    12 │ [item_category, return_rate]                                                           │ [item_category, total_returns, total_sales, return_rate]                  │ [i_category, return_rate]                                                 │
│    13 │ [month, net_sales]                                                                     │ [month, net_sales]                                                        │ [month, net_sales]                                                        │
│    14 │ [customer_birth_country, return_rate]                                                  │ [customer_birth_country, average_return_rate]                             │ [c_birth_country, avg_return_rate]                                        │
│    15 │ [i_product_name, total_sales, total_returns, return_rate]                              │ [product_name, total_sales]                                               │ NULL                                                                      │
│    16 │ [store_name, current_year, previous_year, current_year_net_sales, previous_year_net_…  │ [store_name, year1, year2, percentage_change]                             │ NULL                                                                      │
│    17 │ [customer_age_group, day_type, total_sales, total_returns, return_rate]                │ [customer_age_group, is_weekend, total_sales, total_returns, return_rate] │ [customer_age_group, total_sales, total_returns, return_rate, is_weekend] │
│    18 │ [i_brand, return_rate_decrease]                                                        │ [brand, return_rate_2001, return_rate_2002, decrease_in_return_rate]      │ NULL                                                                      │
│    19 │ [i_class, avg_net_sales_per_transaction_preferred, avg_net_sales_per_transaction_non…  │ [item_class, preferred_customer_flag, avg_net_sales]                      │ [i_class, avg_net_sales_preferred, avg_net_sales_non_preferred]           │
│    20 │ [store_name, store_net_sales, average_net_sales, percentage_of_average_net_sales]      │ NULL                                                                      │ NULL                                                                      │
├───────┴────────────────────────────────────────────────────────────────────────────────────────┴───────────────────────────────────────────────────────────────────────────┴───────────────────────────────────────────────────────────────────────────┤
│ 20 rows                                                                                                                                                                                                                                      4 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

Manual check for smilar results ( same rows and columns)

In [8]:
manual = duckdb.sql("""
   with   zzzzz AS(
    SELECT 
        nbr, 
        model, 
        result
    FROM results 
    WHERE nbr not in ( select nbr from results group by all having count(distinct(cardinality(result[1]))) > 1 or count(distinct(result_count )) > 1 order by nbr))
pivot(from zzzzz ) on model using min(result) order by nbr
""")
manual.show(max_width=250)
try:
 duckdb.sql(f""" load excel ;copy manual to '{output_dir}/check.xlsx' (format 'xlsx', header 'true', overwrite)  """)
except Exception as e:
    print(f"Error exporting to Excel: {e}")
    print("close the excel file or tey again.")

┌───────┬──────────────────────┬──────────────────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│  nbr  │ gemini-2.5-flash-p…  │        gpt-4o        │                                                                                             qwen3:4b                                                                                             │
│ int64 │ map(varchar, json)[] │ map(varchar, json)[] │                                                                                       map(varchar, json)[]                                                                                       │
├───────┼──────────────────────┼──────────────────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┤
│     1 │ [{total_sales=5138…  │ [{total_sales_reve…  │ [{total_sales=5138665812.53}]                                                                                                                                                                    │
│     2 │ [{total_quantity=1…  │ [{total_quantity=1…  │ [{total_quantity=138963631.0}]                                                                                                                                                                   │
│     3 │ [{total_returns=27…  │ [{total_returns=27…  │ [{total_return_value=270824609.25}]                                                                                                                                                              │
│     4 │ [{s_store_name="ab…  │ [{store_name="able…  │ [{s_store_name="able"}, {s_store_name="able"}, {s_store_name="anti"}, {s_store_name="ation"}, {s_store_name="bar"}, {s_store_name="cally"}, {s_store_name="eing"}, {s_store_name="eing"}, {s_s…  │
│     6 │ [{d_year=1998, tot…  │ [{year=1998, total…  │ [{year=1998, total_sales_revenue=1019051668.9}, {year=1999, total_sales_revenue=1001288731.68}, {year=2000, total_sales_revenue=1024199559.82}, {year=2001, total_sales_revenue=1006887594.97}…  │
│     8 │ [{i_brand="importo…  │ [{item_brand="impo…  │ [{i_brand="importoedu pack #2", total_quantity=2348242.0}, {i_brand="edu packscholar #2", total_quantity=2295358.0}, {i_brand="importoscholar #2", total_quantity=2259448.0}, {i_brand="export…  │
│    10 │ [{s_city="Fairview…  │ [{city="Fairview",…  │ [{city="Fairview", total_return_amount=44308839.18}, {city="Midway", total_return_amount=221569284.52}]                                                                                          │
│    11 │ [{store_name="ough…  │ [{store_name="ough…  │ [{store_name="ought", net_sales=799255127.85}, {store_name="ation", net_sales=800752820.38}, {store_name="able", net_sales=801418584.81}, {store_name="ese", net_sales=802346690.31}, {store_n…  │
└───────┴──────────────────────┴──────────────────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘